Tests/FattyRunner.Engine.Tests/obj/
Tests/FattyRunner.Engine.Tests/bin/
Runner/FattyRunner.Engine/obj/
Runner/FattyRunner.Engine/bin/
FattyRunner.Interfaces/obj/
Backup/
UpgradeLog.htm
Tests/Resources/AssemblyLoadTest/obj/
Tests/Resources/PerfTestsContainer/obj/
Runner/FattyRunner.Client/bin/
Runner/FattyRunner.Client/obj/
Runner/FattyRunner.ClientUi/obj/
